body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background:#020617;
    color:white;
}

a{
    text-decoration:none;
}

.btn{
    padding:12px 30px;
    border-radius:25px;
    background:linear-gradient(90deg,#22c55e,#38bdf8);
    color:#020617;
    font-weight:600;
}
